@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body,
:root {
  scroll-behavior: none;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overscroll-behavior: none;
  scroll-behavior: auto;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--font-ibm);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  color: rgb(var(--text-light));
}

/* h1 */
h1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: var(--font-bebas);
}

@media (min-width: 640px) {
  /* sm */
  h1 {
    font-size: 3rem; /* 48px */
  }
}

@media (min-width: 768px) {
  /* md */
  h1 {
    font-size: 3.75rem; /* 60px */
  }
}

@media (min-width: 1024px) {
  /* lg */
  h1 {
    font-size: 4.5rem; /* 72px */
  }
}

@media (min-width: 1280px) {
  /* xl */
  h1 {
    font-size: 5rem; /* 80px */
  }
}

/* h2 */
h2 {
  font-size: 1.875rem; /* Default size for small screens (16px * 1.875) */
}

@media (min-width: 640px) {
  /* sm */
  h2 {
    font-size: 2.25rem; /* 36px */
  }
}

@media (min-width: 768px) {
  /* md */
  h2 {
    font-size: 2.5rem; /* 40px */
  }
}

@media (min-width: 1024px) {
  /* lg */
  h2 {
    font-size: 3rem; /* 48px */
  }
}

@media (min-width: 1280px) {
  /* xl */
  h2 {
    font-size: 3.5rem; /* 56px */
  }
}

/* h3 */
h3 {
  font-size: 1.5rem; /* Default size for small screens (16px * 1.5) */
  font-weight: 500; /* Medium */
}

@media (min-width: 640px) {
  /* sm */
  h3 {
    font-size: 2rem; /* 32px */
  }
}

@media (min-width: 768px) {
  /* md */
  h3 {
    font-size: 2.25rem; /* 36px */
  }
}

@media (min-width: 1024px) {
  /* lg */
  h3 {
    font-size: 2.5rem; /* 40px */
  }
}

@media (min-width: 1280px) {
  /* xl */
  h3 {
    font-size: 3rem; /* 48px */
  }
}

/* h4 */
h4 {
  font-size: 1.25rem; /* Default size for small screens (16px * 1.25) */
  font-weight: 400; /* Normal */
}

@media (min-width: 640px) {
  /* sm */
  h4 {
    font-size: 1.5rem; /* 24px */
  }
}

@media (min-width: 768px) {
  /* md */
  h4 {
    font-size: 1.75rem; /* 28px */
  }
}

@media (min-width: 1024px) {
  /* lg */
  h4 {
    font-size: 2rem; /* 32px */
  }
}

@media (min-width: 1280px) {
  /* xl */
  h4 {
    font-size: 2.25rem; /* 36px */
  }
}

/* h5 */
h5 {
  font-size: 1.125rem; /* Default size for small screens (16px * 1.125) */
  font-weight: 300; /* Light */
}

@media (min-width: 640px) {
  /* sm */
  h5 {
    font-size: 1.25rem; /* 20px */
  }
}

@media (min-width: 768px) {
  /* md */
  h5 {
    font-size: 1.375rem; /* 22px */
  }
}

@media (min-width: 1024px) {
  /* lg */
  h5 {
    font-size: 1.5rem; /* 24px */
  }
}

@media (min-width: 1280px) {
  /* xl */
  h5 {
    font-size: 1.75rem; /* 28px */
  }
}

/* h6 */
h6 {
  font-size: 1rem; /* Default size for small screens (16px * 1) */
  font-weight: 200; /* Extra-light */
}

@media (min-width: 640px) {
  /* sm */
  h6 {
    font-size: 1.125rem; /* 18px */
  }
}

@media (min-width: 768px) {
  /* md */
  h6 {
    font-size: 1.25rem; /* 20px */
  }
}

@media (min-width: 1024px) {
  /* lg */
  h6 {
    font-size: 1.375rem; /* 22px */
  }
}

@media (min-width: 1280px) {
  /* xl */
  h6 {
    font-size: 1.5rem; /* 24px */
  }
}

p {
  font-size: max(18px, 1.25rem);
  line-height: 1.5;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

@layer base {
  :root {
    --body: #0d0d0d;
    --background: 0 0% 0%;
    --foreground: 248, 249, 250;
    --text-light: #e9e6df;
    --text-grey: #a8a8a8;
    --sidebar-grey: #1a1a1a;
    --google-color: #4285f4;
    --border-grey-light: #aeaeae;
    --black: 2, 2, 2;
    --white: 255, 255, 255;
    --grey-light: #eaeaea;
    --light-blue: 43, 149, 207;
    --dark-blue: 0 204 204;
    --light-grey: 251, 250, 247;
    --dark-grey: #3f3f3f;
    --spacer-x3: clamp(4rem, 2vw + 1.6px, 8rem);
    --spacer-x2: clamp(22.71px, 4.8vw + 17.99px, 4rem);
    --primary: 233, 233, 230;
    --primary-foreground: 233, 233, 230;
    --secondary: #4a5e95;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --success-foreground: 148 210 189;
    --success: 0 56 35;
    --error: 255 57 57;
    --destructive-foreground: 230 180 180;
    --destructive: 174 14 14;
    --border-input-dark: 71 75 101;
    --border-input-light: #7e7e7e;
    --p-input: clamp(1rem, 1rem + 0.5vw, 1rem);
    --ring: 248, 249, 250;
    --ring-dark: 42, 49, 50;
    --radius: 0.5rem;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
  }
}

@layer base {
  body {
    @apply bg-body text-text-light;
  }
}

.font-oswald {
  font-family: var(--font-oswald);
}

.font-bebas {
  font-family: var(--font-bebas);
}

.font-ibm {
  font-family: var(--font-ibm);
}

.fullscreen {
  min-height: 100vh;
  width: 100%;
}

.button-basic {
  border: 1px solid hsla(0, 0%, 100%, 0.09);
  color: rgba(var(--white), 1);
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-toggle-button-icon::after,
.sidebar-menu-toggle-button-icon::before {
  content: "";
  height: 1px;
}

.sidebar-menu-toggle-button-icon::after {
  width: 0.8rem;
  margin: 3px 0;
}

.site-menu-toggle-icon-dark::before,
.sidebar-menu-toggle-button-icon::before {
  width: 1.4rem;
  margin: 3px 0;
}

.sidebar-menu-toggle-button-icon::after {
  background: var(--text-light);
}

.sidebar-menu-toggle-button-icon::before {
  background: var(--text-light);
}

.shadow-header {
  box-shadow: 0px 1px 0px 0px rgba(242, 240, 232, 0.2);
}

.shadow-drop-down {
  box-shadow: 0 1.5rem 5rem 0 rgba(3, 10, 20, 0.3);
}

.border-r-gray-15 {
  border-right: 1px solid rgba(242, 240, 232, 0.2);
}

.border-bottom-nav {
  border-bottom: 1px solid rgba(var(--border-bottom-light), 0.6);
}

.border-footer-nav {
  border-top: 1px solid rgba(var(--border-bottom-light), 0.6);
}

.border-spacer {
  border-right: 1px solid rgba(var(--border-bottom-light), 1);
}

.nth-child-1 {
  transform: rotate(-45deg);
  position: absolute;
  display: block;
  width: 67%;
  height: 1px;
}

.nth-child-2 {
  transform: rotate(45deg);
  position: absolute;
  display: block;
  width: 67%;
  height: 1px;
}

.border-footer {
  border-top: 1px solid rgba(242, 240, 232, 0.2);
}

.pt-res {
  padding-top: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
}

/* Blog Post section */
.blog-post-content p {
  line-height: 1.8;
  font-size: 1.8rem;
}

.blog-post-content h2,
h3,
h4 {
  font-family: var(--font-oswald);
  line-height: 1.2;
  margin-bottom: 1.4rem;
}

.blog-post-content ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.blog-post-content ul li {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
